@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');
@import "node_modules/font-awesome/scss/font-awesome.scss";


* {
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100vh;

    .text_container {
        bottom: 15%;
        left: 5%;
        height: 40vh;
        width: 30%;
        position: absolute;
        display: flex;
        flex-direction: column;

        color: rgb(255, 255, 255, .9);
        text-align: left;
        font-family: 'Ubuntu', sans-serif;

        .title {
            flex: 5;
            font-size: 4.5rem;
            font-family: 'Ubuntu', sans-serif;
        }

        .search_box {
            flex: 1;
            display: flex;
            flex-direction: row;
            width: 70%;
            position: relative;

            border-bottom: 2px solid;
            border-color: rgb(255, 255, 255, .3);
            background-clip: padding-box;
           -webkit-background-clip: padding-box;


            input { 
                flex: 9;
                display: flex;
                justify-content: flex-end;
                outline: none;
                border-width:0px;
                border:none;
                color: rgb(255, 255, 255, .8);
                font-size: 1.5rem;
                font-family: 'Ubuntu', sans-serif;
                background-color: transparent;
                position: relative;
                top: 10px;
            }

            #search_icon {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding-bottom: 5px;
                color: rgb(255, 255, 255, .4);
                width: 100%;     
                font-size: 1.5rem;  
                cursor: pointer;
            }
        }

        p {
            margin-top: 10px;
            flex: 1;
            font-size: 1rem;
            color: rgb(255, 255, 255, .6);
        }

        .input:focus {
            border-color: green
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 0.5; /* Firefox */
          }
    }

}
