@import 'src/app/shared_variables.scss';

* {
    overflow: auto;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $background_color;
    font-family: 'Poppins', sans-serif;
    color: white;


    .user_container {
        width: 90%;
        margin: 5vh 5% 0 5%;
        padding-bottom: 5vh;
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid #bbbbbb;

        .user_image {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            margin-left: 3%;
        }

        .user_info {
            margin-left: 2%;
        }
    }

    .movies_container {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 225px);
        grid-auto-rows: 390px;
        justify-content: space-around;
        gap: 50px 10px;
        margin: 40px 5%;

        .movie {
            width: 225px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            background-color: $main_color;

            .movie_image {
                width: 100%;
                height: 300px;
                padding: 15px 15px 0 15px;
                object-fit: fill;
            }

            .movie_info {
                height: 90px;
                position: relative;
                overflow: visible; 
                display: flex;
                align-items: center;
                justify-content: center;

                .movie_title {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    line-height: 1.5rem;
                    padding: 0 0.7rem;
                    text-align: center;
                }

                .user_rate {
                    position: absolute;
                    top: -1.1rem;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 0.5rem 1.5rem;
                    background-color: $main_color;
                    text-shadow: black 0.15em 0.15em 0.3em;
                    font-family: Arial, Helvetica, sans-serif;
                    z-index: 1;
                    font-size: 0.9rem;
                    border-radius: 3rem;
                    font-weight: bold;
                }
            }
        }
    }

    #loading_icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: flex;
        justify-self: center;
        align-self: center;
        border: 16px solid #bbbbbb;
        border-top: 16px solid red;
        //color: rgb(255, 255, 255);
        animation: spin 1s ease-in-out infinite;
    }

    #errorMsg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        color: red;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }